.qty{

display:flex;

justify-content:center;

align-items:center;

gap:20px;

margin:20px;

}

.qty button{

width:45px;

height:45px;

border-radius:50%;

border:none;

background:#005bbb;

color:white;

font-size:24px;

cursor:pointer;

}

.qty span{

font-size:24px;

font-weight:bold;

width:30px;

text-align:center;

}

.pesan{

display:block;

width:85%;

margin:20px auto;

padding:15px;

background:#28a745;

color:white;

font-size:20px;

border:none;

border-radius:12px;

cursor:pointer;

}
